<template name="admin">
  <div class="row" style="margin-top: 2%">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <form class='admin-login'>
        <div class="form-group">
          {{#if loggedIn}}
          <h3>Download Data with the Buttons Below</h3>
          <h5>Don't forget to logout!</h5>
          <a href='/getGames' class="btn btn-primary" role="button" id="games">Download Game Data</a>
          <a href='/getPlayers' class="btn btn-primary" role="button" id="games">Download Participant Data</a>
          <button type="submit" class="btn btn-primary" id="log-out">Log Out</button>
          {{else}}
          <h3>Login to Download Data</h3>
          <input type="password" class="form-control" id="password" placeholder="Password">
          <button type="submit" class="btn btn-primary" id="log-in">Log In</button>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" id="password-feedback" style="visibility:hidden">
      <p align="center" style="color:red; font-size:12px">Incorrect password</p>
    </div>
  </div>
</template>